<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: template(~{::title}, ~{::section})}">
    <head>
        <title>Вход</title>
    </head>

    <body>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-4 is-offset-4 has-text-centered">
                        <form method="post" th:action="@{/login}">
                            <div class="notification is-success" th:if="${param.logout}">
                                Вы успешно вышли!
                            </div>

                            <div class="notification is-success" th:if="${param.success}">
                                Вы успешно зарегистрировались!
                            </div>

                            <div class="field">
                                <div class="control has-icons-left has-icons-right">
                                    <input tabindex="1" type="text" name="username" placeholder="Имя пользователя" autofocus="true" th:class="${param.error} ? 'input is-danger' : 'input'"/>

                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>

                                    <span class="icon is-small is-right" th:if="${param.error}">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left has-icons-right">
                                    <input tabindex="2" type="password" name="password" placeholder="Пароль" th:class="${param.error} ? 'input is-danger' : 'input'"/>

                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>

                                    <span class="icon is-small is-right" th:if="${param.error}">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                </div>

                                <p class="help is-danger" th:if="${param.error}">Неверные имя пользователя и пароль!</p>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input tabindex="3" class="button is-fullwidth is-primary" type="submit" value="Войти"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>