<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: template(~{::title}, ~{::section})}">
    <head>
        <title>Регистрация</title>
    </head>

    <body>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-4 is-offset-4 has-text-centered">
                        <form method="post" th:action="@{/auth/registration}" th:object="${registrationForm}">
                            <div class="field">
                                <div class="control">
                                    <div id="usernameControl" class="control has-icons-left has-icons-right">
                                        <input id="username" tabindex="1" type="text" placeholder="Имя пользователя" autofocus="true" th:field="*{username}" th:class="${#fields.hasErrors('username')} ? 'input is-danger' : 'input'"/>

                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>

                                        <span class="icon is-small is-right" th:if="${#fields.hasErrors('username')}">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </span>
                                    </div>
                                </div>

                                <p class="help is-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</p>
                            </div>

                            <div class="field">
                                <div id="passwordControl" class="control has-icons-left has-icons-right">
                                    <input id="password" tabindex="2" type="password" placeholder="Пароль" th:field="*{password}" th:class="${#fields.hasErrors('password')} ? 'input is-danger' : 'input'"/>

                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>

                                    <span class="icon is-small is-right" th:if="${#fields.hasErrors('password')}">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                </div>

                                <p class="help is-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</p>
                            </div>

                            <div class="field">
                                <div id="confirmControl" class="control has-icons-left has-icons-right">
                                    <input id="confirm" tabindex="3" type="password" placeholder="Подтверждение пароля" th:field="*{password_confirm}" th:class="${#fields.hasErrors('password')} ? 'input is-danger' : 'input'"/>

                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>

                                    <span class="icon is-small is-right" th:if="${#fields.hasErrors('password')}">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                </div>

                                <p id="global" class="help is-danger" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Global error</p>
                            </div>

                            <div>
                                <input tabindex="4" class="button is-fullwidth is-info" type="submit" value="Зарегистрироваться"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
