<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: template(~{::title}, ~{::section})}">
    <head>
        <title>Главная</title>
    </head>

    <body>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="notification has-text-centered is-warning">
                            <h1 class="title">IT Brain Workout</h1>
                            <h2 class="subtitle">Добро пожаловать на сайт IT Brain Workout! Оттачивайте свои знания программирования, а также помогайте другим в этом увлекательном занятии.</h2>
                        </div>
                    </div>
                </div>

                <div class="columns is-mobile" th:each="column : ${columns}">
                    <div class="column is-3" th:each="d : ${column}">
                        <figure class="image">
                            <a th:href="@{/subjects/} + ${d[0].title}">
                                <img th:src="@{'/images/' + ${#strings.toLowerCase(d[0].title)} + '.png'}" th:alt="${d[0].title} + ' image'">
                            </a>
                        </figure>

                        <a class="tag is-danger is-rounded" th:href="@{'/questions/' + ${d[0].title} + '/pending'}" th:if="${#httpServletRequest.isUserInRole('MODER') and #arrays.length(d) == 2}">
                            Новые
                        </a>
                    </div>

                    <div class="column is-3" th:if="${#httpServletRequest.isUserInRole('ADMIN') and columnStat.last}">
                        <figure class="image">
                            <a th:href="@{/subjects/new}">
                                <img src="/images/add.png" alt="Add new subject image">
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
