<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: template(~{::title}, ~{::section})}">
    <head>
        <title th:text="'Тест по ' + ${subjectTitle}">Title</title>
    </head>

    <body>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <form method="post" th:action="@{'/' + ${subjectTitle} + '/test'}">
                            <div class="panel" th:each="num : ${#numbers.sequence(0,#lists.size(questions) - 1)}">
                                <p class="panel-heading" th:text="'Вопрос ' + ${num + 1}">Question number</p>

                                <div class="panel-block">
                                    <p th:text="${#arrays.toArray(questions)[num].body}">Question body</p>
                                </div>

                                <div class="panel-block">
                                    <div class="field">
                                        <div class="control" th:each="answer : ${#arrays.toArray(questions)[num].answers}">
                                            <label class="radio">
                                                <input type="radio" checked="true" th:name="${#arrays.toArray(questions)[num].id}" th:value="${answer.id}"/>
                                                <span th:text="${answer.body}">Answer body</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input type="hidden" name="quantity" th:value="${#lists.size(questions)}"/>

                                    <input class="button is-fullwidth is-info" type="submit" value="Завершить тест"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
