<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <!-- Head -->
    <head th:fragment="head (title, links)">
        <!-- Required meta tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title th:replace="${title}">Title</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <!-- Custom CSS -->
        <link rel="stylesheet" th:href="@{/css/footer.css}" />

        <th:block th:replace="${links}" />
    </head>

    <body>
        <!-- Navigation -->
        <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navigation">
            <a class="navbar-brand" th:href="@{/}">IT Brain Workout</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" th:if="${#httpServletRequest.remoteUser ne null}">
                    <li class="nav-item dropdown">
                        <a th:text="${#httpServletRequest.remoteUser}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/users/1/profile}">Профиль</a>

                            <a class="dropdown-item" th:href="@{/users/3/progress}">Прогресс</a>

                            <a class="dropdown-item" th:href="@{/users}" th:if="${#httpServletRequest.isUserInRole('ADMIN')}">Пользователи</a>

                            <a class="dropdown-item" th:href="@{/questions/pending}" th:if="${#httpServletRequest.isUserInRole('MODER')}">Новые вопросы</a>
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Выход</a>
                            <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;"></form>
                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Главная</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}" th:if="${#httpServletRequest.remoteUser eq null}">Вход</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/auth/registration}" th:if="${#httpServletRequest.remoteUser eq null}">Регистрация</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Footer -->
        <footer class="footer" th:fragment="footer">
            <p>Автор <a target="_blank" href="https://github.com/Asky-GH">Абишев Асхат</a>.</p>

            <p>
                <a href="#">Back to top</a>
            </p>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </footer>
    </body>
</html>