<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Регистрация</title>
    </head>

    <body>
        <form th:action="@{/registration}" method="post" th:object="${registrationForm}">
            <div>
                <label>Имя пользователя:</label>

                <input type="text" th:field="*{username}" autofocus="true"/>

                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username errors</p>
            </div>

            <div>
                <label>Пароль:</label>

                <input type="password" th:field="*{password}"/>

                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password errors</p>
            </div>

            <div>
                <label>Пароль:</label>

                <input type="password" th:field="*{password_confirm}"/>

                <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}">global errors</p>
            </div>

            <div>
                <input type="submit" value="Зарегистрироваться"/>
            </div>
        </form>
    </body>
</html>