<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments :: head(~{::title}, ~{::link})}">
        <title>Новый вопрос</title>

        <!-- Custom styles for this template -->
        <link th:href="@{/css/form.css}" rel="stylesheet">
    </head>

    <body class="text-center">
        <nav th:replace="fragments :: navigation"></nav>

        <form style="max-width: 660px" class="form-auth" th:action="@{'/questions/' + ${subjectTitle} + '/new'}" method="post" th:object="${newQuestionForm}">
            <table>
                <!-- question -->
                <tr>
                    <td></td>
                    <td>
                        <textarea tabindex="1" rows="5" cols="50" th:field="*{question}" class="form-control" placeholder="Вопрос" autofocus="true"></textarea>
                    </td>
                </tr>

                <tr th:if="${#fields.hasErrors('question')}">
                    <td colspan="2" class="alert alert-danger" role="alert" th:errors="*{question}">question errors</td>
                </tr>

                <!-- answer1 -->
                <tr>
                    <td>
                        <input type="radio" name="answers" value="answer1" checked="true"/>
                    </td>
                    <td>
                        <textarea tabindex="2" rows="5" cols="50" th:field="*{answer1}" class="form-control" placeholder="Ответ"></textarea>
                    </td>
                </tr>

                <tr th:if="${#fields.hasErrors('answer1')}">
                    <td colspan="2" th:errors="*{answer1}" class="alert alert-danger" role="alert">answer1 errors</td>
                </tr>

                <!-- answer2 -->
                <tr>
                    <td>
                        <input type="radio" name="answers" value="answer2"/>
                    </td>
                    <td>
                        <textarea tabindex="3" rows="5" cols="50" th:field="*{answer2}" class="form-control" placeholder="Ответ"></textarea>
                    </td>
                </tr>

                <tr th:if="${#fields.hasErrors('answer2')}">
                    <td colspan="2" th:errors="*{answer2}" class="alert alert-danger" role="alert">answer2 errors</td>
                </tr>

                <!-- answer3 -->
                <tr>
                    <td>
                        <input type="radio" name="answers" value="answer3"/>
                    </td>
                    <td>
                        <textarea tabindex="4" rows="5" cols="50" th:field="*{answer3}" class="form-control" placeholder="Ответ"></textarea>
                    </td>
                </tr>

                <tr th:if="${#fields.hasErrors('answer3')}">
                    <td colspan="2" th:errors="*{answer3}" class="alert alert-danger" role="alert">answer3 errors</td>
                </tr>

                <!-- answer4 -->
                <tr>
                    <td>
                        <input type="radio" name="answers" value="answer4"/>
                    </td>
                    <td>
                        <textarea tabindex="5" rows="5" cols="50" th:field="*{answer4}" class="form-control" placeholder="Ответ"></textarea>
                    </td>
                </tr>

                <tr th:if="${#fields.hasErrors('answer4')}">
                    <td colspan="2" th:errors="*{answer4}" class="alert alert-danger" role="alert">answer4 errors</td>
                </tr>

                <tr th:if="${#fields.hasErrors('global')}" >
                    <td colspan="2"class="alert alert-danger" role="alert" th:errors="*{global}">global errors</td>
                </tr>

                <!-- warning -->
                <tr>
                    <td colspan="2" class="alert alert-warning" role="alert">Перед нажатием на кнопку "Предложить", отметьте правильный ответ!</td>
                </tr>

                <!-- button -->
                <tr>
                    <td colspan="2">
                        <input tabindex="6" class="btn btn-lg btn-primary btn-block" type="submit" value="Предложить"/>
                    </td>
                </tr>
            </table>
        </form>

        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>